@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #03140e;
  --foreground: #ecfdf5;
}

body {
  color: var(--foreground);
  background: #03140e;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar in Dark Forest Green Theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #041c14;
}
::-webkit-scrollbar-thumb {
  background: #0f402c;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
